<div class="about-container">
  <div class="about-box">
    <div id="how-blurb">
      <h1>Giftdriver</h1>
      <p>Our generosity-powered software for organizing gift drives is a simple tool to help non-profit organizations working that run Adopt-a-Family gift drives parle more earsily with their donors. </p>

      <p>Originally a student project to complete their training to become full stack developers, a small team of three... worked in part in collaboration with a San Francisco Bay area youth and family support agency, Brighter Beginnings, to guide the process of choosing features application features. After completing their education at Dev Bootcamp, the team who build Giftdriver continued to work on it so that it could launch for the holiday season of 2013.</p>
    </div>
  </div>
  <div class="peeps">
    <div class="member-box">
      <div class="bio">
        <img src="../assets/paulette.jpg">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
      </div>
    </div>

    <div class="member-box">
      <div class="bio">
        <img src="../assets/paulette.jpg">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
      </div>
    </div>

    <div class="member-box">
      <div class="bio">
        <img src="../assets/paulette.jpg">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
      </div>
    </div>
  </div>
</div>