<div class="about-container">
  <div class="about-box">
    <div id="how-blurb">
      <h1>Giftdriver</h1>
      <p>Giftdriver streamlines the Adopt-a-Family and donation gift-giving process for organizations supporting youth and families through the holiday season. Families in need receive material support, and both those giving and receiving are provided opportunity to connect with other families in the community - all participating are provided opportunity to give at a time of year when abundance is celebrated.</p>

      <p>Giftdriver was a student project with purpose. We used our learning as an opportunity to give back to our community. Our hope? Giftdriver will provide a platform to help organization help more families each year by making it easier for donors to get and stay connected to Adopt-a-Programs. A big thanks to Brighter Beginnings, the Bay Area non-profit that help guide our process around deciding on the application's UI and many features.</p>
    </div>
  </div>
  <div class="peeps">
    <div class="member-box">
      <div class="bio">
        <img src="../assets/lillie.jpg">
        <p>Lillie Chilen is an opera singer turned programmer, who spent 9 long weeks as a student of web development at Dev Bootcamp. She was excited to work on Giftdriver because she knew it would help so many different people — families who were being adopted, the people who were doing the adopting, and of course, the Brighter Beginnings staff whose time would be saved! </p>
      </div>
    </div>

    <div class="member-box">
      <div class="bio">
        <img src="../assets/paulette.jpg">
        <p>Paulette Luftig transitioned to working as a Front End Developer with the Jelly Candy Company after working for many years as a youth and family counsellor and graduating from Dev Bootcamp. Aware of the challenges non-profit organizations face in their efforts to support families in need, she was excited to work on building Giftdriver and continues to seek out opportuntities to work in socially responsibile ways.</p>
      </div>
    </div>

    <div class="member-box">
      <div class="bio">
        <img src="../assets/brian.jpg">
        <p>Brian Pope is an Operations and Finance Manager in the Transportation & Logistics industry. He has a passion for technology and tinkering, which led him to Dev Bootcamp's 9 week intensive program. Working on Giftdriver enabled him to test his technological know-how by contributing to an application that has the potential to bring happiness to many people, as well as assist those who devote so much of their time to helping those in need. </p>
      </div>
    </div>
  </div>
</div>