<div class="faq">

  <h2>Frequently Asked Questions</h2>
  
  <a href="#"><h3>Who is Giftdriver for?</h3></a>
    <div class="answer"><p>Blah blah d blah dah dah...</p></div>

  <a href="#"><h3>Does it cost anything to use?</h3></a>
    <div class="answer"><p>Blah blah d blah dah dah...</p></div>

  <a href="#"><h3>What is an Adopt-a-Family program?</h3></a>
    <div class="answer"><p>Brighter Beginnings' Adopt-a-Family program provides assistance to those who would otherwise not have a holiday celebration. Through this "adoption" process, low-income families are matched with a donor who purchases seasonal gifts and drops them off at one of our locations in Alameda or Contra Costa County.  Our goal is to facilitate "adoptions" for approximately 250 families this holiday season to provide toys, clothing, and other necessities.</p></div>

  <a href="#"><h3>Can I choose which family I'd like to adopt?</h3></a>
    <div class="answer"><p>Yes. You can browse nearby families who are in need of gifts by following these steps:</p>
      <ul>
        <li><p>1. Sign up or log in with your gmail account by clicking sign in at at the upper right hand corner.</p></li>
        <li><p>2. Fill out the required fields and click submit.</p></li>
        <li><p>3. Under the nearby families tab, check the family size you want to donate to and click filter.</p></li>
        <li><p>4. All the families nearby who are ready to receive donations will show up.</p></li>
      </ul>
    </div>

  <a href="#"><h3>How will I know what the family needs?</h3></a>
    <div class="answer"><p>The wish list and clothing sizes of each family member will be shown under the details of the list of families that you browse (see instructions above). You may wish to provide at least one "fun" gift and one "practical" gift for each family member. Please note that you do not have to buy every item on the wishlist.</p></div>

  <a href="#"><h3>Where and when may I drop off my donation?</h3></a>
    <div class="answer"><p>Gifts must be dropped off at the location associated with the family you choose (i.e. Richmond family, Richmond drop-off). Gift drop-off locations include Richmond, Antioch, and Oakland. Please click here for the street addresses and maps for each location.</p></div>

  <a href="#"><h3>Should my donation be wrapped?</h3></a>
    <div class="answer"><p>Yes. Each item must be new and wrapped and tagged. Place all items for each family in sturdy boxes with lids and tape securely to close. Maximum weight for boxes is 30lbs. Boldly mark the Family Code Number (which is on the family profile of the family you chose) on all four sides and top of each box. Mark each box to indicate the total number of boxes included (i.e. 1 of 3, 2 of 3, etc.).</p></div>

  <a href="#"><h3>How do I print out a tax-deductible receipt?</h3></a>
    <div class="answer"><p>Click here to complete a receipt form. Be sure to include the value of the gifts that you have purchased. Bring this receipt with you to Brighter Beginnings when you drop off your gift. A Brighter Beginnings representative will sign the receipt and give you back a copy to use for your tax returns.</p></div>

  <a href="#"><h3>How do I browse nearby families who need financial support?</h3></a>
    <div class="answer">
      <ul>
        <li><p>Sign up or log-in with your gmail account by clicking sign in at the upper right corner.</p></li>
        <li><p>Fill out the required field and click submit.</p></li>
        <li><p>Under the nearby families tab, check the family size you want to donate and click filter.</p></li>
        <li><p>￼All the families nearby who are ready to receive donations will show up.</p></li>
      </ul>
    </div>

    <a href="#"><h3>Who should I contact if I have more questions?</h3></a>
    <div class="answer"><p>￼For additional information contact Claudia Cesena at (510)903-7517 or adopt-a-family@brighter-beginnings.org.</p><p>￼If you are interested in learning about other ways to support Brighter Beginnings, please click here.</p></div>
  
</div>
