<div class="faq">

  <h2>Frequently Asked Questions</h2>
  
  <a href="#"><h3>Who is Giftdriver for?</h3></a>
    <div class="answer"><p>Giftdriver was created mainly for non-profit organizations that host Adopt-a-Family gift drives and the donors who adopt participating families each year.</p></div>

  <a href="#"><h3>I am a non-profit staff member wanting to organize a gift drive. How do I get started?</h3></a>
    <div class="answer"><p>The process is very simple. Follow the steps you find in the 'How it Works' page of this site.</p></div>

  <a href="#"><h3>I want to adopt a family and buy them their needs. How do I get started?</h3></a>
    <div class="answer"><p>The process is very simple. Follow the steps you find in the 'How it Works' page of this site.</p></div>

  <a href="#"><h3>Does Giftdriver cost anything to use?</h3></a>
    <div class="answer"><p>Nothing at all. Any organization interested in hosting an Adopt-a-family gift drive can use Giftdriver free of charge.</p></div>

  <a href="#"><h3>What is an Adopt-a-Family program?</h3></a>
    <div class="answer"><p>Adopt-a-Family programs provide assistance to those who would otherwise not have a holiday celebration. Through this "adoption" process, low-income families are matched with a donor who purchases seasonal gifts and drops them off at locations specific to their associated gift drive. </p></div>

  <a href="#"><h3>Can I choose which family I'd like to adopt?</h3></a>
    <div class="answer"><p>Yes. You can browse nearby families who are in need of gifts by following these steps:</p>
      <ul>
        <li><p>1. Sign up or log in to Giftdriver by clicking sign up or log in at the upper right hand corner of the navigation bar.</p></li>
        <li><p>2. Fill out the required fields and click submit.</p></li>
        <li><p>3. Click on 'Current Drives' button and find the gift drive associated with your organization of interest. Click on the gift drive to take you to that drive's home page.</p></li>
        <li><p>4. Click 'see all families' to start your search for a family to adopt. You can filter families by size if preferred.</p></li>
        <li><p>5. If there are multiple gift drop locations, you will be prompted to choose a location and will be shown families within that geographical region.</p></li>
        <li><p>5. All the families nearby who are ready to receive donations will show up.</p></li>
        <li><p>6. When you have found the family you want to adopt, click 'Adopt this Family' and fill out the required form. Upon it's submit an email will be sent to you containing all pertinient information regarding the family you have chosen and its associated gift drive.</p></li>
      </ul>
    </div>

  <a href="#"><h3>How will I know what the family needs?</h3></a>
    <div class="answer"><p>The wish list and clothing sizes of each family member will be shown under the details of the list of families that you browse (see instructions above). You may wish to provide at least one "fun" gift and one "practical" gift for each family member. Please note that you do not have to buy every item on the wishlist.</p></div>

  <a href="#"><h3>Where and when may I drop off my donation?</h3></a>
    <div class="answer"><p>Gifts must be dropped off at the location associated with the family you choose. Drop off info is displayed along with the family details and is included in the email sent to you upon adoption. Gift drop-off locations will vary depending on the organization hosting each gift drive.</p></div>

  <a href="#"><h3>Should my donation be wrapped?</h3></a>
    <div class="answer"><p>Unless specified differently in the email sent to you when you adopt your family, yes. Each item must be new and wrapped and tagged. Place all items for each family in sturdy boxes with lids and tape securely to close. Maximum weight for boxes is 30lbs. Boldly mark the Family Code Number (which is on the family profile of the family you chose) on all four sides and top of each box. Mark each box to indicate the total number of boxes included (i.e. 1 of 3, 2 of 3, etc.).</p></div>

  <a href="#"><h3>How do I print out a tax-deductible receipt?</h3></a>
    <div class="answer"><p>For tax receipts please contact the organization directly.</p></div>

  <a href="#"><h3>Who should I contact if I have more questions about my gift drive of choice?</h3></a>
    <div class="answer"><p>Go to your preferred drive home page and in the bottom right you can find contact information for the drive and organization.</p></div>
  
  <a href="#"><h3>Who should I contact if I have questions about Giftdriver or need technical support for my drives?</h3></a>
    <div class="answer"><p>You can contact Paulette Luftig at 510-710-7285 or pyluftig@gmail.com</p></div>
</div>
