<link rel="stylesheet" href="/assets/agile_carousel.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.js"></script>
<script src="/assets/agile_carousel.alpha.js"></script>

<script>


// $.getJSON("image_data", function(data) {


  $(document).ready(function(){
    var data = [{
      "content": "<div class='slide_inner'><a class='photo_link' href='#'><img class='photo' src='/assets/presents_openings1500.jpg'></a><a class='caption' href='#'>1</a></div>",
      "content_button": "<div class='thumb'><img src='/assets/presents_openings1500.jpg' ></div><p></p>"
    }, {
      "content": "<div class='slide_inner'><a class='photo_link' href='#'><img class='photo' src='/assets/toy-drive-header.jpg' ></a><a class='caption' href='#'>2</a></div>",
      "content_button": "<div class='thumb'><img src='/assets/toy-drive-header.jpg' ></div><p></p>"
    }, {
      "content": "<div class='slide_inner'><a class='photo_link' href='#'><img class='photo' src='/assets/Gift766_3817.jpg' ></a><a class='caption' href='#'>3</a></div>",
      "content_button": "<div class='thumb'><img src='/assets/Gift766_3817.jpg' ></div><p></p>"
    }, {
      "content": "<div class='slide_inner'><a class='photo_link' href='#'><img class='photo' src='/assets/gifts.jpg' ></a><a class='caption' href='#'>4</a></div>",
      "content_button": "<div class='thumb'><img src='/assets/gifts.jpg' ></div><p></p>"
    }, {
      "content": "<div class='slide_inner'><a class='photo_link' href='#'><img class='photo' src='/assets/HilfigerHolidayParty.jpg' href='#'>5</a></div>",
      "content_button": "<div class='thumb'><img src='/assets/HilfigerHolidayParty.jpg' ></div><p></p>"
    }]

    console.log(data);
    $("#flavor_2").agile_carousel({ 
      carousel_data: data,
      carousel_outer_height: 560,
      carousel_height: 230,
      slide_height: 230,
      carousel_outer_width: 1280,
      slide_width: 1280,
      transition_time: 540,
      timer:4000,
      continuous_scrolling: true,
      control_set_2: "content_buttons",
      change_on_hover: "content_buttons"
    });
  });

</script>

<div id="flavor_2"></div>


 
  <div id="mission"><h1>GIFTDRIVER</h1></div>

  <div id="last-home">
    <p>Generosity-powered software for organizing gift drives.</p>
    <div id="link-boxes">
      <div class="big" id="blue-link"><%= link_to "CREATE A DRIVE", new_drive_path, :class => 'navbar-link'  %></div>
      <div class="big" id="blue-link"><%= link_to "CURRENT DRIVES", drives_path, :class => 'navbar-link'  %></div>
    </div>
  </div>


