<div class="one-liner">.</div>
<img src="/assets/presents_openings1500.jpg" width="1280" height="200" ¬
    alt="A descriptive text of the image" />

<div id="long-strip">
  <div class="tiles"></div>
  <div class="tiles"></div>
  <div class="tiles"></div>
  <div class="tiles"></div>
</div>

<div id="mission"></div>
