
<div id="flavor_2"><h3>This is a test!</h3></div>

<div id="mission">
    <h1>Giftdriver:</h1>
    <p>Generosity-powered software for organizing gift drives.</p>
</div>

<div id="home-blurb">
  <p>Giftdriver streamlines the Adopt-a-Family and donation gift-giving process for organizations supporting youth and families through the holiday season. Families in need receive material support, and both those giving and receiving are provided opportunity to connect with other families in the community - all participating are provided opportunity to give at a time of year when abundance is celebrated. </p>
</div>

<div id="last-home">
  <div id="link-box">
    <span class="cw-button home-button"><%= link_to "Create a Drive", new_drive_path %></span>
    <span class="cw-button home-button"><%= link_to "Current Drives", drives_path %></span>
  </div>
</div>

<div id='photo_credits'>
  <h6>Much <i class="icon-heart"></i> to Flickr users <a href="http://www.flickr.com/photos/vmabney/">vmabney</a>, <a href="http://www.flickr.com/photos/maysbusinessschool/">maysbusinessschool</a>, <a href="http://www.flickr.com/photos/camknows/">camknows</a>, <a href="http://www.flickr.com/photos/librarygoblin/">librarygoblin</a>, & <a href="http://www.flickr.com/photos/revdancatt">revdancatt</a> for their photography!</h6>
</div>


