<link rel="stylesheet" href="agile_carousel.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.js"></script>
<script src="agile_carousel/agile_carousel.a1.1.js"></script>

<script>


$.getJSON("agile_carousel/agile_carousel_data.php", function(data) {
  $(document).ready(function(){
    $("#long-strip").agile_carousel({

      // required settings
      
      carousel_data: data,
      carousel_outer_height: 330,
      carousel_height: 230,
      slide_height: 230,
      carousel_outer_width: 480,
      slide_width: 480,

      // end required settings

      transition_type: "fade",
      transition_time: 600,
      timer: 3000,
      continuous_scrolling: true,
      control_set_1: "numbered_buttons,previous_button,
      ... (continues on same line)... pause_button,next_button",
      control_set_2: "content_buttons",
      change_on_hover: "content_buttons"
    });
  });
});
</script>

<div id="carousel"></div>

<div id="home-pic"><img src="/assets/presents_openings1500.jpg" width="1280" height="200" ¬
  alt="A descriptive text of the image" /></div>


  <div id="long-strip">
    <div class="tiles"></div>
    <div class="tiles"></div>
    <div class="tiles"></div>
    <div class="tiles"></div>
    <div class="tiles"></div>
  </div>

  <div id="mission"><h1>OUR <span>MISSION</span></h1></div>

  <div id="last-home"><p>Generating generosity-powered software for organizing gift drives.</p></div>
