<div class="logo">Giftdriver</div>

<div class="slogan">Helping people who help others.</div>
<div class="one-liner">Generosity-powered software for organizing gift drives.</div>

<div class="login_buttons">
  <%= link_to "Log In", new_user_session_path, class: "login" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "signup" %>
</div>