
<div id="home-pic"><img src="/assets/presents_openings1500.jpg" width="1280" height="200" ¬
    alt="A descriptive text of the image" /></div>


<div id="long-strip">
  <div class="tiles"></div>
  <div class="tiles"></div>
  <div class="tiles"></div>
  <div class="tiles"></div>
  <div class="tiles"></div>
</div>

<div id="mission"><h1>OUR <span>MISSION</span></h1></div>

<div id="last-home"><p>Generating generosity-powered software for organizing gift drives.</p></div>
