<link rel="stylesheet" href="/assets/agile_carousel.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.js"></script>
<script src="/assets/agile_carousel.alpha.js"></script>

<script>


// $.getJSON("image_data", function(data) {


  $(document).ready(function(){
    var data = [{
      "content": "<div class='slide_inner'><a class='photo_link' href='#'><img class='photo' src='/assets/presents_openings1500.jpg'></a><a class='caption' href='#'>1</a></div>",
      "content_button": "<div class='thumb'><img src='/assets/presents_openings1500.jpg' ></div><p></p>"
    }, {
      "content": "<div class='slide_inner'><a class='photo_link' href='#'><img class='photo' src='http://t3.gstatic.com/images?q=tbn:ANd9GcSH0BdMyiPBjZciCYyXPauKvNh-gku9SPcI3DzhNcIabr9Vka2wwA' ></a><a class='caption' href='#'>2</a></div>",
      "content_button": "<div class='thumb'><img src='http://t3.gstatic.com/images?q=tbn:ANd9GcSH0BdMyiPBjZciCYyXPauKvNh-gku9SPcI3DzhNcIabr9Vka2wwA' ></div><p></p>"
    }, {
      "content": "<div class='slide_inner'><a class='photo_link' href='#'><img class='photo' src='/assets/presents_openings1500.jpg' ></a><a class='caption' href='#'>3</a></div>",
      "content_button": "<div class='thumb'><img src='/assets/presents_openings1500.jpg' ></div><p></p>"
    }, {
      "content": "<div class='slide_inner'><a class='photo_link' href='#'><img class='photo' src='http://t3.gstatic.com/images?q=tbn:ANd9GcSH0BdMyiPBjZciCYyXPauKvNh-gku9SPcI3DzhNcIabr9Vka2wwA' ></a><a class='caption' href='#'>4</a></div>",
      "content_button": "<div class='thumb'><img src='http://t3.gstatic.com/images?q=tbn:ANd9GcSH0BdMyiPBjZciCYyXPauKvNh-gku9SPcI3DzhNcIabr9Vka2wwA' ></div><p></p>"
    }, {
      "content": "<div class='slide_inner'><a class='photo_link' href='#'><img class='photo' src='/assets/presents_openings1500.jpg'></a><a class='caption' href='#'>5</a></div>",
      "content_button": "<div class='thumb'><img src='/assets/presents_openings1500.jpg' ></div><p></p>"
    }]

    console.log(data);
    $("#flavor_2").agile_carousel({ 
      carousel_data: data,
      carousel_outer_height: 560,
      carousel_height: 230,
      slide_height: 230,
      carousel_outer_width: 1280,
      slide_width: 1280,
      transition_time: 540,
      timer: 3000,
      continuous_scrolling: true,
      control_set_2: "content_buttons",
      change_on_hover: "content_buttons"
    });
  });

</script>

<div id="flavor_2"></div>


  <div id="current-drives-button"><%= link_to "CURRENT DRIVES", drives_path %></div>
  <div id="mission"><h1>OUR <span>MISSION</span></h1></div>

  <div id="last-home"><p>Generating generosity-powered software for organizing gift drives.</p></div>
