<div class="how-it-works-container">
  <div class="for-the-organizer">
    <div class="pink-present"><i class="fa fa-gift"></i></div>
    <h2>Info for Organizers</h2>
    <div class="how-buttons-work"><span class="cw-button home-button"><%= link_to "Create a Drive", new_drive_path %></span></div>
    <p>The process of starting a giftdrive is ridiculously easy. Here's a list of the information we ask you to provide:</p>
    <ol>
      <li><p>Your organization's name.</p></li>
      <li><p>A short blurb about your organization and its mission.</p></li>
      <li><p>Your organization's contact info, an email, phone number and address.</p></li>
      <li><p>A url that will take donors to a link to donote cash if they choose (this step is optional and only recommended for organizations that have a webpage that is specifically for cash donations).</p></li>
      <li><p>A title for your giftdrive - this will need to be unique. If you choose a name that's already being used for a gift drive on Giftdriver, you will be prompted to choose another name.</p></li>
      <li><p>A short blurb about your gift drive.</p></li>
      <li><p>Additional details you would like included in the email that gets sent to the donor. The email is already set up to incude:</p>
        <ul>
          <li><p>The names and ages of each family member.</p></li>
          <li><p>The needs list for each family member.</p></li>
          <li><p>All contact details entered for your organization and its gift drive.</p></li>
          <li><p>Specifics about the gift drive gifts drop location, date and time.</p></li>
        </ul>
      </li>
      <li><p>Gift drop off locations - you can enter as many locations as needed.</li>
      <li><p>Drop off dates - sometimes organizations prefer that gifts are dropped off at specific dates and times, so we've provided the option of adding drop dates and times to specific drop off locations.</p></li>
      <li><p>Be aware that family codes must be unique - this means that if you use Giftdriver multiple years but you have the same families many years in a row, the family code must include something that uniquely identifies the year of the drive. For instance, if you used a family code of mar123/13, you could use mar123/14 for the following year without any trouble.</p></li>
    </ol>
  </div>

  <div class="for-the-donor">
    <div class="pink-present"><i class="fa fa-gift"></i></div>

    <h2>Info for Donors</h2>
    <div class="how-buttons-work"><span class="cw-button home-button how-buttons-work"><%= link_to "Current Drives", drives_path %></span></div>
    <p>The process of adopting a family through Giftdriver is simple:</p>
    <ol>
      <li><p>Choose the Giftdrive you would like to adopt your family through.</p></li>
      <li><p>Sign up as a donor so that we have a way to contact you with your family details once you have chosen a family to adopt.</p></li>
      <li><p>If there are multiple locations for the gift drive you've chosen you will be prompted to choose a gift drop location. The families available to adopt will be linked to the drop location you choose.</p></li>
      <li><p>Browse all available families to adopt.</p></li>
      <li><p>Once you find a family you would like to buy for, click the 'adopt this family' button.</p></li>
      <li><p>Provide the information requested in the pop up box that follows.</p></li>
      <li><p>Click 'adopt' and an email will be sent that contains all the necessary information you need when shopping for your adopted family and delivering your gifts.</p></li>
      <li><p>Purchase and wrap your gifts, then drop them off at the drop off location specified in the email you receive upon adopting your family.</p></li>
      <li><p>That's all there is to it.</p></li>
    </ol>
  </div>
</div>


