<div class="how-it-works-container">
  <div class="for-the-organizer">
    <div class="pink-present"><i class="icon-gift icon-3x"></i></div>
    <h2>Info for Organizers</h2>
    <p>The process of starting a giftdrive is ridiculously easy. Here's a list of the information we ask you to provide:</p>
    <ol>
      <li><p>Your organization's name.</p></li>
      <li><p>A short blurb about your organization and it's mission.</p></li>
      <li><p>Your organization's contact info, an email, phone number and address.</p></li>
      <li><p>A url that will take donors to a link to donote cash if they choose.(this step is optional)</p></li>
      <li><p>A title for your giftdrive - this will need to be unique. If you choose a name that's already being used for a gift drive on Giftdriver, you will be prompted to choose another name.</p></li>
      <li><p>A short blurb about your gift drive.</p></li>
      <li><p>Additional details you would like included in the email that gets sent to the donor. The email is already set up to incude:</p>
        <ul>
          <li>The names and ages of each family member.</li>
          <li>The needs list for each family member.</li>
          <li>All contact details entered for your organization and its gift drive.</li>
          <li>Specifics about the gift drive gifts drop location, date and time.</li>
        </ul>
      </li>
      <li><p>Gift drop off locations - you can enter as many locations as needed.</li>
      <li><p>Drop off dates - sometimes organizations prefer that gifts are dropped off at specific dates and times, so we've provided the option of adding drop dates and times to specific drop off locations.</p></li>
    </ol>

    <span class="cw-button home-button how-buttons-work"><%= link_to "Create a Drive", new_drive_path %></span>
  </div>

  <div class="for-the-donor">
    <div class="pink-present"><i class="icon-gift icon-3x"></i></div>
    <h2>Info for Donors</h2>
    <p>The process of adopting a family thorugh Giftdriver is simple:</p>
    <ol>
      <li><p>Choose the Giftdrive you would like to adopt your family through.</p></li>
      <li><p>Sign up as a donor so that we have a way to contact you with your family details once you have chosen a family to adopt.</p></li>
      <li><p>If there are multiple locations for the gift drive you've chosen you will be prompted to choose a gift drop location. The families available to adopt will be linked to the drop location you choose.</p></li>
      <li><p>Browse all available families to adopt.</p></li>
      <li><p>Once you find a family you would like to buy for, click the 'adopt this family' button.</p></li>
      <li><p>Provide the information requested in the pop up box that follows.</p></li>
      <li><p>Click 'adopt' and an email will be sent that contains all the necessary information you need when shopping for your adopted family and delivering your gifts.</p></li>
    </ol>
    <p>It's really that easy.</p>
  </div>


    <span class="cw-button home-button how-buttons-work"><%= link_to "Current Drives", drives_path %></span>
</div>

