<%= form_for [@drive, @donor] do |f| %>
  <% @locations.each do |location| %>
    <% if location.families.length == 0 %>
    <% else %>
      <div class="radio">
        <%= f.radio_button(:drop_location, location.id) %>
      </div>
      <div class="local">
        <%= f.label(:drop_location, 
                    "#{location.code}, #{location.gmaps4rails_address}") %>
      </div>
      <br>
    <% end %> 
  <% end %> 
    <div><%= f.submit "Set Location Preference", class: 'cw-button' %></div>
<% end %>