<div class="inner location-chooser">

  <h1>One quick question!</h1>

  <h4>Since this drive has multiple drop-off locations, we just need to know which one is most convenient for you.</h4>

  <h4><em>(Only drop-off locations that have families that still need to be adopted are listed as choices.)</em></h4>
  <div id="choose-map"><%= gmaps4rails(@json) %></div>
  
  <%= render "form" %>
</div>


