<div class="family-details-card">
  <h3><%= link_to "Family #{family.code}", family_path(family), action: 'get' %></h3>
  <ul>
    <% family.family_members.each do |member| %>
    <li><%= member.first_name %>, age: <%= member.age %></li>
    <% end %>
  </ul>
  <div class="family-needs">Their needs include: <%= family.sampled_needs(8).to_sentence %>.</div>
</div>