<div id="family-size-filter-buttons">
  <div id="family-size-filter-buttons-container">
    <h4>Filter families by size:</h4>
    <ul>
      <li>
        <div><input id='1-person' type='radio' name='kind' value='1-person'>
        <label for='1-person'><h4>1 person</h4></label></div>
      </li>
      <li>
        <div><input id='2-person' type='radio' name='kind' value='2-person' checked>
        <label for='2-person'><h4>2 person</h4></label></div>
      </li>
      <li>
        <div><input id='3-person' type='radio' name='kind' value='3-person'>
        <label for='3-person'><h4>3 person</h4></label></div>
      </li>
      <li>
        <div><input id='4-person' type='radio' name='kind' value='4-person'>
        <label for='4-person'><h4>4 person</h4></label></div>
      </li>
      <li>
        <div><input id='5-or-more' type='radio' name='kind' value='5-or-more'>
        <label for='5-or-more'><h4>5 or more</h4></label></div>
      </li>
    </ul>
  </div>
</div>
