<div class="title">
  <h1><%= @drive.drive_title %></h1>
          <i class="icon-gift icon-3x"></i>

  <h2>Organized by <%= @drive.org_name %></h2>

  <div class="subnav">
    <%= link_to "Drive Home", drive_path(@drive) %>
    <%= link_to "All Families", drive_families_path(@drive)%>
  </div>
</div>

