<footer class="footer-nav">
  <div class="footer-inner">
    <ul class="footer-links">      
      <li><%= link_to 'ABOUT', about_path, :class => 'navbar-link' %></li>
      <li><%= link_to "FAQ", faq_path, :class => 'navbar-link'  %></li>
      <li><%= link_to "HOW IT WORKS", how_it_works_path, :class => 'navbar-link'  %></li>
    </ul>
  </div>
</footer>
