<footer class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-right">
      <li><%= link_to "About", about_path, :class => 'navbar-link'%></li>
      <li><%= link_to "Giftdriver Team", team_path, :class => 'navbar-link' %></li>
    </ul>
  </div>
</footer>
