<div class='add-location'>
  <h3>Current Locations</h3>
  
  <ul class="loc-list">
    <% @locations.each do |location| %>
    <li><%= location.code %></li>

    <% end %>
   
  </ul>
  
  <% end %>
</div>

