<div class='add-location three'>
  <h3>Current Locations</h3>
  <ul>
    <% @locations.each do |location| %>
      <li><%= location.code %> (Location ID: <%= location.id %>)</li>
      <% location.drop_dates.each do |drop_off| %>
        <li><%= drop_off.date_and_time %></li>
      <% end %>
      <br>
    <% end %>
  </ul>

  <% if @families_with_no_drop_location_info.length > 0 %>
  <h3 style="color: red;">Drop Location ID required</h3>
  
    <ul>
      <% @families_with_no_drop_location_info.each do |f| %>
        <li><%= f.code %></li>
      <% end %>
    </ul>

  <% end %>
</div>

