<div class='add-location'>
    <h3>Current Locations</h3>
    <% if @locations.empty? %>
      no locations assigned yet
    <% else %>
      <ul class="loc-list">
      <% @locations.each do |location| %>
        <li><%= location.code %></li>
        <% location.drop_dates.each do |date| %>
          <%= date.date_and_time %><br>
          <% end %>
          <br>
      <% end %>
      </ul>
    <% end %>

</div>

