div #donation-request {
  color: white;
  width: 700px;
  min-height: 200px;
  background-color: #47a9f8;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  text-align: center;
  p {
    font-size: 24px;
    line-height: 36px;
  }
}

.no, .yes {
  margin-top: 30px;
  width: 240px;
  height: 140px;
  color: white;
  background-color: #4fcb53;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: .9;
  display: inline-block;
  h2 {
    padding-top: 20px;
    font-size: 72px;
    font-weight: 500;
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: #47a9f8;
    }
  }
}

div.yes {
  margin-left: 30px;
}

div.no {
  margin-right: 30px;
}

div#funds-header {
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}