// STRUCTURAL STUFF
$footer_height: 25px;
$home-font: "LeagueGothic","League-Gothic-1","League-Gothic-2","League Gothic",Impact,sans-serif;

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  font-size: 12pt;
}

p {
  font-family: 'Droid Serif', serif;
}

h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2, h3, h4 {
  font-weight: 400;
}

html {
  min-height: 100%;
  position: relative;
}

.container {
  width: 1280px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0px 2px 4px ;
  border: none;
  padding-bottom: $footer_height;
  background-image: url("/assets/cream_pixels.png");
}

.inner {
  width: 780px;
  margin: 0 auto;
  background: white;
  vertical-align: top;
  padding: 0 10px;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: $footer_height;
  width: 1280;
  &.navbar {
    margin-bottom: 0px;
  }
}

label {
  font-size: 1.2em;
}

.button {
  margin-top: 20px;
  
  input {
    font-family: 'Droid Sans', sans-serif;

  }
  a {
    color: black;
    text-decoration: none;
  }
}

.remember_me label {
  display: inline;
}

#user_remember_me {
  margin-right: 10px;
}

hr {
  background-color: #e6e6e6;
  border: none;
  margin: 0;
  clear: both;
  border: none;
  width: 100%;
  height: 1px;
}
