body {
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Droid Serif', serif;
  font-weight: 700;
}

h1, h2 {
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
}

.form-item {
  margin-bottom: 10px;
}

label {
  font-size: 1.2em;
}

.button {
  margin-top: 20px;
  input {
    font-family: 'Droid Sans', sans-serif;
  }
}

.remember_me label {
  display: inline;
}

#user_remember_me {
  margin-right: 10px;
}