// STRUCTURAL STUFF
$footer_height: 25px;
$container_width: 1280px;
$main-accent: #4fcb53;
$main-accent-hover: #7eeb82;

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  font-size: 12pt;
}

p {
  font-family: 'Droid Serif', serif;
}

h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2, h3, h4 {
  font-weight: 400;
}

h5 {
  color: black;
  font-size: 12pt; 
  font-family: 'Droid Serif', serif;
}

.page-title {
  text-align: center;
  h1 {
    text-transform: uppercase;
    padding-top: 30px;
  }  
}

html {
  min-height: 100%;
  position: relative;
}

.container {
  width: $container_width;
  margin: 0 auto;
  min-height: 870px;
  box-shadow: 0px 2px 4px;
  border: none;
  overflow: auto;
  background: white;
}

.inner {
  width: 780px;
  margin: 0 auto;
  background: white;
  vertical-align: top;
  padding: 0 10px;
  min-height: inherit;
}

footer {
  height: $footer_height;
  &.navbar {
    margin-bottom: 0px;
  }
}

.footer-nav {
  margin: 0 auto;
  width: $container_width;
  background-color: #303030;
  box-shadow: 0px 2px 4px;
}

label {
  font-size: 1.2em;
}

.button {
  margin-top: 20px;
  
  input {
    font-family: 'Droid Sans', sans-serif;

  }
  a {
    color: black;
    text-decoration: none;
  }
}

.remember_me label {
  display: inline;
}

#user_remember_me {
  margin-right: 10px;
}

hr {
  background-color: #e6e6e6;
  border: none;
  margin: 0;
  clear: both;
  border: none;
  width: 100%;
  height: 1px;
}

.cw-button {
  background: $main-accent;
  color: #fff;
  width: auto;
  padding: .5em 1.4em;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  text-shadow: none;
  font-family: 'Droid Sans', sans-serif;
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5),0 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5),0 1px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.5),0 1px rgba(0,0,0,0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  transition: 0.1s all linear;
  -webkit-appearance: none;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    background: $main-accent-hover;
  }
}
