

div #adoption-confirmation {
  width: 480px;
  min-height: 520px;
  background-color: #4fcb53;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  h3 {
    margin-top: 0;
  }
}

#p {
  margin-top: 20px;
}

div#donor-drop-dates-options {
  height: 200px;
  width: 480px;
  margin-top: 20px;
  
}

#confirm-form {
  height: 260px;
  width: 100%;
}

#confirm-container {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 40px;
  p {
    margin-bottom: 20px;
  }
}

#confirm-left {
  float:left;
  height: 210px;
}

#confirm-right {
  float: right;
  height: 210px;
  margin-left: 40px;
}



#adopt-options {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 30px;
  bottom: 0;
  clear: both;
  p {
    margin-bottom: 30px;
  }
}

#confirm-button input {
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5),0 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5),0 1px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.5),0 1px rgba(0,0,0,0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  transition: 0.1s all linear;
  -webkit-appearance: none;
  background-color: #47a9f8;
  &:hover {
    background-color: #9DCAEF;
  }
  width: 220px;
  color: white;
  margin-left: 208px;
  border-radius: 5px;
  border: none;
}

