#adoption-confirmation {
  width: 520px;
  height: 500px;
  background-color: #4fcb53;
  margin: 0 auto;
  padding-left: 40px;
  padding-top: 40px;
  border-radius: 5px;
}

#confirm-container {
  margin: 0 auto;
  width: 100%;
}

#confirm-left {
  float:left;
}

#confirm-right {
  float: left;
  margin-left: 40px;
}