.family-member-form {
  margin-left: 100px;
  margin-top: 88px;
}

#create-family-button {
  margin-top: 60px;
}

#whole-create-form {
  padding-left: 0px;
}

#left-member-create {
  float: left;
  width: 33%;
}

#middle-member-create {
  float: left;
  width: 33%;
  margin-top: 78px;
}

#right-member-create {
  float: left;
  width: 33%;
  margin-top: 78px;
}

#new-fam-title {
  h3 {
    color: #47a9f8;
    margin-bottom: 30px;
  }
}

#adopt-button {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 40px;
}