.family-member-form {
  margin-left: 100px;
  margin-top: 88px;
}

#create-family-button {
  margin-top: 20px;
}

#whole-create-form {
  padding-left: 95px;
}

#left-member-create {
  float: left;
  width: 30%;

}

#middle-member-create {
  float: left;
  width: 30%;
  margin-top: 60px;
}

#right-member-create {
  float: left;
  width: 30%;
  margin-top: 60px;
}
