#create-wrapper {
 padding-left: 88px;
}

#create-wrapper h5 {
  margin-bottom: 0;
}

#create-wrapper h3 {
  color: #47a9f8;
}

#left, #middle, #right {
  float: left;
  width: 33%;
}

#new-drive-title, h1 {
  margin-left: 85px;
  margin-top: 40px;
}

