#create-wrapper {
  margin-top: 40px;
  padding-bottom: 200px;
  padding-left: 88px;
  h5 {
    margin-bottom: 0;
  }
  h3 {
    color: #47a9f8;
  }
  h1 {
    padding-left: 88px;
  }
}

#left, #middle, #right {
  float: left;
  width: 33%;
}

#left {
  h3 {
    margin-top: 25px;
  }
}

#middle, #right {
  margin-top: 63px;
}

#right {
  margin-top: 63px;
  h5 {
    margin-top: 20px;
    font-family: 'Droid Sans', sans-serif;
  }
}

#new-drive-title {
  h1 {
    margin-left: 85px;
    margin-top: 40px;
  }
}

#build {
  border: none;
  background-color: #47a9f8;
  width: 120px;
  border-radius: 2px;
  padding: 6px;
  color: white;
  margin-top: 120px;
}
