.title {
  // text-align: center;
}

.organizers {
  // text-align: center; 
}

.access {
  padding: 20px;
  width: 1000px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #FFD37C;
}

.family-stuff {
  float: left;
  width: 300px;
  border-radius: 5px;
}

#new_family {
  width: 300px;
}

.drive-deets {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.organizer-options {
  float: left;
  background-color: white;
  margin-left: 100px;
}

.add-organizer {
  float: left;
  background-color: white;
  width: 400px;
  margin-left: 100px;
}

.org-info {
  // border: 1px solid gray;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}


.home-drives {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}