.home-drives {
  text-align: center;
  padding: 10px;
  margin: 30px 0;
  background-color: #eee;
  h3 {
    text-transform: uppercase;
  }
}

#home-box {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.index-blurb {
  margin: 0 auto;
  width: 600px;
  text-align: left;
}