#manage-all {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 1200px;
}

#received {
  background-color: #47a9f8;
  margin-top: 0;
  width: 60px; 
  padding: 0;
  border-radius: 2px;
  border: 0;
    a {
    color: white;
    font-size: 11px;
  }
}

#delivered {
  background-color: #47a9f8;
  margin-top: 0;
  width: 60px; 
  padding: 0;
  border-radius: 2px;
  border: 0;
    a {
    color: white;
    font-size: 11px;
  }
}

#manage_table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  th {
    font-size: 11pt;
    font-weight: 700;
    font-family: 'Droid Serif', serif;
  }
  .adoptor-address {
    width: 150px;
  }
}

// Fix Firefox bug in Data Tables search field display
table.dataTable {
  clear: both;
}

#manage-all {
  #manage_table_filter {
    float: right;
    margin-bottom: 20px;
  }
}

form #edit-family {
  height: 12px;
  margin-bottom: 0px;
}

#boxes {
  input {
    font-size: 11px;
    height: 10px;
  }
  tr td {
  height: 20px;
  }
  li {
    display: inline;
    float: left;
    height: 15px;
  }
  li:last-child div {
    background-color: #4fcb53;
    border-radius: 1px;
  }
}
