.subnav {
  margin: 0 auto;
  a {
    padding: 5px 10px;
    color: black;
    font-size: 12pt; 
    color: #3E3E46; 
    text-transform: uppercase;

  }
}

.title {
  text-align: center;
  h1 {
    text-transform: uppercase;
  }
  h2 {
    font-size: 20pt;
    line-height: 24pt;
  }
}