$main-accent: #4fcb53;
$main-accent-hover: #7eeb82;


.subnav {
  margin: 0 auto;
  a {
    padding: 5px 10px;
    color: black;
    font-size: 12pt; 
    font-family: 'Droid Serif', serif;
  }
}

.title {
  text-align: center;
  h1 {
    text-transform: uppercase;
    padding-top: 15px;
  }
  h2 {
    font-size: 20pt;
    line-height: 24pt;
  }
}

.pink-present {
  color: $main-accent;
}