$cream-pixels: url("/assets/cream_pixels.png");


// Donor-facing styling


.drive-deets {
  background-image: $cream-pixels;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.title {
  color: #3E3E46; 
  font-family: 'Oleo Script', cursive;
  font-size: 4em;
  line-height: 1.1em;
}

.organizers {
  color: #3E3E46; 
  font-family: 'Oleo Script', cursive;
  font-size: 2.5em;
  text-align: right; 
  margin-bottom: 10px;
}

.where-when {
  margin: 20px 0;
  font-size: 1.1em;
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  text-align: center;
}


.org-info {
  background-image: $cream-pixels;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}


// Organizer Section Styling

.access {
  background-image: $cream-pixels;
  padding: 20px;
  width: 960px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 2px solid #FFD37C;
}

.add-location {
  float: left;
  border-radius: 5px;
  margin-left: 40px;
  background-color: white;
}

.organizer-options {
  background-image: $cream-pixels;
  float: left;
  margin-left: 60px;
  background-color: white;
}

.add-organizer {
  background-image: $cream-pixels;
  margin-left: 60px;
  float: left;
  background-color: gray;
}

.add-edit-family {
  margin-left: 50px;
  float: left;
  border-radius: 5px;
  background-color: white;
}

// Drive Index

.home-drives {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
