$main-accent: #4fcb53;
$main-accent-hover: #7eeb82;

.locations {
  width: 100%;
  margin-left: 24px;
  min-height: 305px;
}

.map {
  float: left;
}

.location-box {
  background-color: #fafafa;
  display: inline-block;
  width: 200px;
  padding: 15px;
  margin: 10px 10px 10px 10px;
  p {
    margin: 0;
  }
  h3 {
    line-height: 1em;
  }
}


.drive-deets {
  hr {
    margin: 30px 0;
  }
}

#adopt-button {
  width: 200px;
  margin: 0 auto;
}

.where-when {
  padding: 5px 10px;
  color: black;
  font-size: 18pt; 
  color: #3E3E46; 
}

.drop-deets {
  color: black;
  font-size: 20pt; 
  color: #3E3E46; 
  line-height: 24pt;
  background-color: #fafafa;
  padding: 15px;
  font-family: 'Droid Serif', serif;
}

.date {
  color: $main-accent;
}

.blurb {
  padding-left: 24px;
}

.org-info {
  padding-left: 24px;
  margin-top: 10px;
  h3 {
    line-height: 20px;
    margin: 0 0 10px 0;
  }
}

.contact {
  p {
    margin: 0 0 5px;
  }
  h5 {
    margin-top: 0;
  }
}

.cw-button {
  margin-top: 20px;
}

.all-families-link {
  text-align: center;
  a {
    color: $main-accent;
    &:hover {
      color: $main-accent-hover;
      text-decoration: none;
    }
  }
}
