hr {
  margin: 50px 0;
}

h3 {
  text-transform: uppercase;
}

.pagination {
  margin-top: 10px;
}

#family-size-filter-buttons {
  width: 700px;
  height: 75px;
  margin-top: 25px;
  li {
    display: inline-block;
    padding: 0 23px;
  }
  label {
    font-size: 1em;
  }
}

.hidden {
  display: none;
}