hr {
  margin: 50px 0;
}

h3 {
  text-transform: uppercase;
}

.pagination {
  margin-top: 10px;
}

#family-size-filter-buttons-container {
  width: 700px;
  height: 100px;
}

#family-size-filter-buttons {
  li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }
}