#import_errors {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 10px;
  }

}

#import_headers {
  padding-left: 25px;
}

#import_field {
  text-align: center;
  margin-bottom: 50px;
}

#import_file {
  line-height: 30px;
}

#import_blue_link {
  background-color: #47a9f8;
  color: white;
  width: 100px; 
  padding: 6px;
  border-radius: 2px;
  border: 0;
}

