.add-family-button {
  text-align: center;
  button {
    margin: 0;
  }
}

.family-details-card {
  display: relative;
  background-color: #f1f1f1;
  text-align: left;
  vertical-align: top;
  margin: 20px 10px;
  padding: 10px;
  overflow: auto;
  button {
    margin-bottom: 10px;
  }
  h3 {
    margin-top: 5px;
  }
}

.family-details-card:last-child {
  margin-bottom: 50px;
}

.family-detail-section {
  text-align: center;
}

.adopt-family {
  margin: 20px auto;
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  font-size: 18pt;
  background-color: #f1f1f1;
  border-radius: 5%;
  padding: 5px;
  text-align: center;
  width: 250px;
  line-height: 30pt;
  &:hover {
    background-color: grey;
    a {
      color: white;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}
