.add-family-button {
  text-align: center;
  #add-member {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 250px;
  }
}

.family-details-card {
  display: relative;
  background-color: #f1f1f1;
  text-align: left;
  vertical-align: top;
  margin: 20px 10px;
  padding: 20px;
  overflow: auto;

  #organizers-family-member-buttons {
    margin: 15px 0;
    .organizer-button {
      margin-right: 20px;
    }
    h3 {
      margin-top: 5px;
    }
  }
}

.family-details-card:last-child {
  margin-bottom: 50px;
}

.family-detail-section {
  text-align: center;
}

.adopt-family {
  margin: 20px auto;
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  font-size: 18pt;
  background-color: #f1f1f1;
  border-radius: 5%;
  padding: 5px;
  text-align: center;
  width: 250px;
  line-height: 30pt;
  &:hover {
    background-color: grey;
    a {
      color: white;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}

#member-bio {
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.family-edit-form {
  padding-left: 90px;
  padding-top: 40px;
}

.needs-span4 {
  width: 420px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
  ul {
    margin-left: 20px;
  }
  li {
    list-style-type:circle;
  }
}

