$reddish: #E01B5D;

.featured {
  text-align: center;
  padding-bottom: 20px;
}

.family-box {
  background-color: #fafafa;
  display: inline-block;
  height: 200px;
  margin: 10px 25px;
  vertical-align: top;
  padding: 15px;
}

.family-content {
  position: relative;
  min-height: 100%;
}

.family-cards {
  padding-top: 20px;
  text-align: center;
}

.family-box-width-1, .family-box-width-2 {
  width: 180px;
}

.family-box-width-3, .family-box-width-4 {
  width: 200px;
}

.family-box-width-5, .family-box-width-6  {
  width: 280px;
}

.family-members {
  padding-bottom: 5px;
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: center;
  color: $reddish;
}

.family-needs {
  margin: 5px 0 5px 0;
}

.family-count {
  font-size: .9em;
  text-align: center;
}

.family-number {
  font-family: 'Oleo Script', cursive;
  border-bottom: 3px;
  line-height: 1em;
  font-size: 2em;
  text-align: center;
}