.form {
  input {
    margin-bottom: 10px;
    width: 300px
  }
  textarea {
    height: 180px;
    width: 300px;
  }
  .button input {
    width: 100px;
    background-color: #47a9f8;
  }
}

.form-errors li {
  list-style: none;
  color: #df451b;
  padding-left: 61px;
}

.login-signup-edit {
  margin-bottom: 100px;
}
