.map_container {
  padding: 6px;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 230px;
  display: inline-block;
  margin-right: 10px;
}

.map_container img {
  max-width: none;
}

.gmaps4rails_map {
  width: 230px;
  height: 230px;
}

.gmaps4rails_map img {
  max-width: none;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}
