#home-pic {
  padding-top: 0;
}

#current-drives-button {
  padding: 2%;
  margin-top: 50px;
  width: 160px;
  margin: 0 auto;
}

#current-drives-button a {
  background-color: #47a9f8;
  color: white;
  padding: 1%;
  border-radius: 5px;
}

.tiles {
  height: 90px;
  width: 165px;
  border: 1px solid #D4D4D4;
  float: left;
  margin-top: 40px;
  margin-left: 73px;
}

#mission {
  padding: 30px 0 15px 0;
  border-bottom: 1px dotted #D4D4D4;
  width: 780px;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-family: 'Oleo Script', cursive;
    line-height: 78px;
    color: #404040;
    font-size: 54px;
    margin: 0 auto;
  }
  p {
    font-size: 25px;
    text-align: center;
    font-size: 24px;
  }
}

#home-blurb {
  width: 700px;
  margin: 20px auto;
}

#last-home {
  height: 60px;
  width: 1280px;
}

#link-box {
  margin: 0 auto;
  width: 600px;
  margin-top: 50px;
}

.home-button {
  text-align: center;
  display: inline;
  margin-left: 73px;
}


