#long-strip {
  width: 1280px;
  height: 180px;
  background-color: #eee;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;    
}

#mission {
  height: 500px;
  boder: 1px solid gray;
}

// AND ABOVE

.logo {
  position: absolute;
  bottom: 100px;
  right: 100px;
  font-family: 'Oleo Script', cursive;
  color: white;
  font-size: 5em;
}

.one-liner {
  width: 270px;
  position: absolute;
  top: 180px;
  left: 55px;
  font-size: 1.5em;
  line-height: 1.3em;
  color: white;
  font-family: 'Droid Sans', sans-serif;
}

.slogan {
  width: 400px;
  position: absolute;
  top: 50px;
  left: 55px;
  font-family: 'Droid Sans', sans-serif;
  color: white;
  font-size: 3em;
  line-height: 1.2em;
}

.login_buttons {
  font-family: 'Droid Sans', sans-serif;
  color: white;
  font-size: 2em;
  .signup {
    position: absolute;  
    top: 300px;
    left: 55px;
  }
  .login {
  position: absolute;  

    left: 205px;
    top: 300px;
  }
  a {
    color: white;
    line-height: 1.5em;
    &:hover {
      background-color: white;
      box-shadow: 0px 0px 15px 10px white;
      text-decoration: none;
      color: rgb(78, 78, 78);
    }
  }
}
