.locations {
  .cw-button {
    width: 200px;
    display: inline-block;
    vertical-align: top;
  }
}

.location-chooser {
  margin-top: 50px;
  h4 {
    margin-bottom: 30px;
  }
}

.local {
    padding-left: 30px;
    margin-top: -18px;
}

#choose-map {
  float: left;
  margin-right: 50px;
}
