$container-width: 1280px;
$nav-background: #303030;
$main-accent: #4fcb53;
$main-accent-hover: #7eeb82;


.navbar {
  box-shadow: 0px 2px 4px;
  margin-bottom: 0;
  width: $container-width;
  margin: 0 auto;
  li {
    font-size: 1em;
  }
  .brand {
    font-family: 'Oleo Script', cursive;
    font-size: 2em;
    margin-top: 8px;
    margin-bottom: 0px;
    color: white;
    text-shadow: none;
    &:hover {
      color: $main-accent;
    }
  }
}

#blue-link a {
  background-color: #47a9f8;
  width: 100px; 
  padding: 6px;
  border-radius: 2px;
}

.navbar-inner {
  background: $nav-background;
  border: none;
  border-radius: 0;
  height: 58px;
}

.navbar-inner ul {
  margin-top: 20px;
  margin-bottom: 0px;
  float: right;
}

.navbar-inner li {
  display: inline;
  margin-left: 40px;
}

title {
  float: left;
}

.navbar .nav > li > a {
  text-shadow: none;
  color: white;
  font-weight: 100px;
  font-size: 0.5em;
}

a.navbar-link  {
  color: white;
  &:hover {
    color: $main-accent;
    text-decoration: none;
  }
}
