// Organizer Section Styling

$cream-pixels: url("/assets/cream_pixels.png");

.access {
  background-color: #eee;
  overflow: auto;
  width: 1130px;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 150px;
  bottom: 0;
}

.three {
  float: left;
  width: 33%;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  padding-bottom: 3px;
}

