// Organizer Section Styling

$cream-pixels: url("/assets/cream_pixels.png");

.access {
  background-color: #eee;
  overflow: auto;
  width: 780px;
}

.add-location {
  float: left;
  margin-left: 70px;
}

.organizer-options {
  float: left;
  margin-left: 70px;
}

.add-organizer {
  margin-left: 70px;
  float: left;
}

.add-edit-family {
  margin-left: 70px;
  float: left;
}

