// Organizer Section Styling

$cream-pixels: url("/assets/cream_pixels.png");

.access {
  background-color: #eee;
  overflow: auto;
  width: 1200px;
  margin-top: 50px;
  padding: 40px;
  margin-bottom: -25px;
}

.add-location {
  float: left;
  padding-left: 130px;
}

.organizer-options {
  float: left;
  padding-left: 130px;
}

.add-organizer {
  float: left;
  padding-left: 130px;
}

.add-edit-family {
  float: left;
  padding-left: 130px;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  padding-bottom: 3px;
}
