// Organizer Section Styling

$cream-pixels: url("/assets/cream_pixels.png");

.access {
  background-color: #eee;
  padding: 20px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 5px;
  margin-top: 40px;
}

.add-location {
  float: left;
  margin-left: 70px;
}

.organizer-options {
  float: left;
  margin-left: 70px;
}

.add-organizer {
  margin-left: 70px;
  float: left;
}

.add-edit-family {
  margin-left: 70px;
  float: left;
}

