<!DOCTYPE html>
<html>
<head>
  <title>Giftdriver</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:400,700|Oleo+Script:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="home">
  <%= yield %>
</div>
</body>
</html>